// Page call to action
.page-cta {
	padding: 30px 20px;
	text-align: center;

	@include bp($large) {
		padding: 50px 20px;
	}

	h2 { margin-top: 0; }

	p {
		@include font-size(14);

		font-family: $default-sans;

		@include bp($large) { @include font-size(16); }
		@include bp($x-large) { @include font-size(18); }
	}
}

// Main footer
.footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 40px 20px;
	background: $secondary-brand-color;

	@include bp($small) {
		flex-direction: row;
		align-items: center;
	}

	@include bp($x-large) {
		padding: 50px 30px;
	}

	p, a { color: $white; }

	// Logos
	&__logos {
		flex-grow: 0;
		order: 2;
		margin-bottom: 20px;
		white-space: nowrap;
		text-align: center;

		@include bp($small) {
			order: 1;
			margin-bottom: 0;
		}

		a {
			display: inline-block;
			margin-top: 5px;
			margin-right: 15px;

			@include bp(1300px) { margin-right: 25px; }

			&:last-child { margin-right: 0; }

			img { display: block; }
		}
	}

	// Text
	&__text {
		flex-grow: 0;
		order: 3;
		text-align: center;

		@include bp($small) {
			order: 2;
			margin-left: 20px;
			text-align: left;
		}

		@include bp(1300px) { margin-left: 60px; }

		p {
			@include font-size(13);

			margin-top: 0;
			margin-bottom: 0;
			// white-space: nowrap;
		}
	}

	// Navigation
	&-navigation {
		flex-grow: 1;
		order: 1;
		margin-bottom: 2rem;
		white-space: nowrap;
		text-align: center;

		@include bp($small) {
			order: 3;
			margin-bottom: 0;
			text-align: right;
		}

		nav {
			margin-bottom: 1.5rem;
		}

		li {

			display: block;
			font: {
				family: $default-sans;
				weight: 600;
			}

			@include bp($small) {
				@include font-size(14);

				display: inline-block;
				margin-left: 15px;
			}

			@include bp(1300px) {
				margin-left: 25px;
			}
		}

		a:hover {
			color: lighten($secondary-brand-color, 33%);
		}
	}

	.legal {
		p {
			margin-bottom: 0;
			margin-top: 0.25rem;
			font-size: 0.75rem;
			line-height: 1.3;
		}
	}
}