.header {
	position: fixed;
	z-index: 10;
	top: 0; left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	width: 100%;
	padding: 0 20px;
	background: $primary-brand-color;
	text-align: center;

	.nav-open & {
		box-shadow: 0 10px 50px rgba(black, 0.2);
	}

	@include bp($mobile-nav-bp) {
		z-index: 9;
		flex-direction: column;
		width: 300px;
		height: 100%;
		padding: 50px;
	}

	&__brand {
		// Mobile logo
		.mobile-logo {
			@include hide($mobile-nav-bp);

			display: block;
		}

		// Desktop logo
		.desktop-logo {
			@include show($mobile-nav-bp);

			border-radius: 100%;
			transition: all 500ms ease;

			&:hover { box-shadow: 0 0 40px rgba(0, 0, 0, 0.25); }
		}
	}

	&__locations {
		a {
			color: $white;
			font: {
				family: $default-sans;
				weight: 600;
			}
			line-height: 1.25;
		}
	}

	&__contact {
		width: 100%;

		p {
			color: $white;
			font: {
				family: $default-sans;
				weight: 600;
			}
			line-height: 1.333;

			a {
				color: inherit;
				font-weight: 600;
			}
		}

		.button {
			display: block;
			width: 100%;
		}

		a.facebook {
			@include font-size(14);

			display: block;
			margin-top: 20px;
			color: lighten($primary-brand-color, 40%);
			font: {
				family: $heading-font;
				weight: $heading-font-weight;
			}
			text-align: center;

			svg {
				fill: $white;
				width: 24px;
				height: 24px;
				margin-right: 12px;
				vertical-align: middle;
			}
		}
	}

	.toggle {
		@include hide($mobile-nav-bp);
		@include hamburger(24px, 5px, 2px, $white, 2px);
	}
}

.header .header__locations {
	@include show($mobile-nav-bp);

	a {
		@include font-size(24);
	}
}

.header .header__contact {
	@include show($mobile-nav-bp);

	p {
		@include font-size(18);
	}
}