.nav-open,
.nav-open body {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.container {
	@include container;
}

.site {
	position: relative;
	max-width: 1380px;
	margin-top: 80px;
	background: $white;
	z-index: 9;

	@include bp($mobile-nav-bp) {
		margin-top: 0;
		margin-left: 300px;
	}

	// Home page
	.home & { margin-top: 0; }
}

.content {
	max-width: 640px;
	margin: auto;
	padding: 30px 20px;

	@include bp($small) { padding: 50px; }
	@include bp($x-large) { padding: 67px 0; }

	& + .content:not(.page-cta) { padding-top: 0; }

	&--wide { max-width: 900px; }
	&--large { max-width: 1200px; }

	// Header
	&__header {
		margin-bottom: 30px;
		text-align: center;

		@include bp($x-large) {
			margin-bottom: 60px;
		}
	}

	// Action
	&__action {
		margin-top: 15px;
		text-align: center;

		@include bp($x-large) {
			margin-top: 30px;
		}
	}

}