.main-navigation {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 5rem 0 2rem;
	background: $primary-brand-color;
	text-align: center;

	opacity: 0;
	transform: translateX(-100%);
	transition: all 150ms ease;

	.nav-open & {
		opacity: 1;
		transform: translateX(0);
	}

	@include bp($mobile-nav-bp) {
		z-index: 8;
		position: absolute;
		display: block;
		height: auto;
		padding: 0 30px;
		background: transparent;
		border-bottom: solid 1px rgba($white, 0.2);
		text-align: right;
		transform: translateX(0);
		opacity: 1;
	}

	ul {
		flex: 1;
		width: 100%;
		margin-top: 1.5rem;
	}

	li {
		margin: 1em 0;
		font: {
			family: $default-sans;
			weight: 600;
		}
		line-height: 1;

		@include bp(23.4375rem) {
			margin: 1.5rem 0;
		}

		@include bp($mobile-nav-bp) {
			display: inline-flex;
			align-items: center;
			height: 80px;
			margin: 0 0 0 25px;

			&.active {
				box-shadow: inset 0 -3px 0 $white;

				a { font-weight: $body-font-bold; }
			}
		}

		a {
			@include font-size(16);

			color: $white;

			@include bp(23.4375rem) {
				font-size: 1.5rem;
			}

			@include bp($mobile-nav-bp) {
				@include font-size(16);
			}
		}
	}

	.header__locations,
	.header__contact {
		@include hide($mobile-nav-bp);

		padding: 0 2rem;
	}
}