.alert {
	display: block;
	padding: 1em 1.25em 0.8em;
	background-color: #fff0b7;
	border: none;
	border-radius: 2px;
	color: rgba(0, 0, 0, 0.5);
	font-family: $default-sans;
	line-height: 1.2;

	p { margin: 0; }

	&--info { background-color: #d8ecf6; }

	&--success {
		background-color: #DEF7C5;
		color: #7D9B5B;
	}

	&--error {
		background-color: #FFE8E8;
		color: #E66676;

	}
}

// -------------------------------------- //
// Gravity Forms
// -------------------------------------- //

// Gravity Forms confirmation message
.gform_confirmation_message {
	@extend .alert;
	@extend .alert--success;
}

// Gravity Forms error messages
.validation_error,
.validation_message {
	@extend .alert;
	@extend .alert--error;

	form > & { margin: 2em 0; }
}

.gfield_error {

	label {
		border-bottom: 1px dotted #E66676;
	}

	&.gfield_contains_required {
		position: relative;

		.validation_message {
			@include font-size(10);

			display: inline-block;
			margin-top: 1em;
			padding: 7px 5px 5px;
			background: #FFE8E8;
			border-radius: 2px;
			font-family: $default-sans;
			line-height: 1;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-indent: 1px;

			@include bp($large) {
				@include align(right, center, 16px);

				margin-top: 0;
			}
		}
	}

	&.gfield_captcha {
		flex-wrap: wrap;

		.validation_message {
			margin-top: 1em;

			@include bp($large) {
				margin-left: 33.3333%;
			}
		}
	}
}