.button {
	display: inline-block;
	padding: 1em 1.5em;
	line-height: 1;
	border: none;
	border-radius: 0px;
	font: {
		family: $button-font;
		weight: $button-font-weight;
	}
	text-decoration: none;

	&--large {
		padding: 1.25em 2em;

		@include bp($small) {
			@include font-size(18);

			height: 60px;
			padding: 0 2em;
			line-height: 60px;
		}
	}

	&--primary {
		background: $primary-brand-color;
		color: $white;

		&:hover {
			background: darken($primary-brand-color,10%);
			color: $white;
		}
	}

	&--secondary {
		background: $secondary-brand-color;
		color: $white;

		&:hover {
			background: darken($secondary-brand-color,10%);
			color: $white;
		}
	}

	&--white {
		background: $white;
		color: $primary-brand-color;

		&:hover {
			background: $white;
			color: $primary-brand-color;
		}

		&.button--border {
			background: transparent;
			color: $white;
		}
	}

	// Bordered
	&--border {
		padding-left: 0;
		padding-right: 0;
		border-bottom: solid 3px #EBEBEB;
	}

	&--arrow {
		position: relative;
		padding-right: 37px;

		// Arrow
		&:before,
		&:after {
			@include align(right, center);

			content: "";
			display: block;
			height: 14px;
			width: 22px;
			// margin-left: 2rem;
			background: url('../img/arrow-right.svg');
			transition: all 300ms ease;
		}

		&:before {
			opacity: 0;
			transform: translate(-20px, -50%);
		}

		&:hover {

			&:before {
				opacity: 1;
				transform: translate(0, -50%);

			}

			&:after {
				opacity: 0;
				transform: translate(20px, -50%);
			}

		}

		// White arrow
		&.button--white {
			&:before,
			&:after {
				background: url('../img/arrow-right-white.svg');
			}
		}
	}

}