.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: -12px;
	margin-right: -12px;

	.card {
		width: 100%;

		// @include bp($small + 1) { width: calc(50% - 24px); }
		@include bp($small) { width: calc(33.333% - 24px); }
	}

	// Links - a la Services
	&--links {
		@media (max-width: 599px) {

			.card {
				display: flex;
				justify-content: space-between;
				align-items: center;
				min-height: 0;
				margin-bottom: 12px;
				padding: 18px 20px;
				text-align: left;

				// Arrow
				&:after {
					content: "";
					display: block;
					height: 14px;
					width: 22px;
					background: url('../img/arrow-right.svg');
				}

				// Title
				&__title {
					@include font-size(15);

					margin-bottom: 0;

					&:after { display: none; }
				}

				// Text
				p {
					display: none;
				}
			}

		}
	}
}

.card {
	min-height: 280px;
	margin: {
		left: 12px;
		right: 12px;
		bottom: 24px;
	}
	padding: 30px 25px;
	border: solid 1px #EBEBEB;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(#D0D0D0, 0.5);
	text-align: center;

	@include bp($large) {
		padding: 50px 40px;
	}

	// Title
	&__title {
		margin-bottom: 1.5rem;

		&:after {
			content: "";
			display: block;
			height: 5px;
			width: 60px;
			margin: 1.5rem auto 0;
			background: #EBEBEB;
		}
	}

	// Text
	p {
		@include font-size(15);

		margin-bottom: 0;
		color: $base-text-color;
		font-weight: 400;
	}
}