.video-container {
	@include aspect-ratio(16,9);

	iframe {
		@include fill;
	}
}

// Global cover image class
// Also used for object-fit fallback
.cover {
	position: relative;
	background: {
		repeat: no-repeat;
		size: cover;
		position: center center;
	}

	&.objectfit-container img { display: none; }
}

.avatar {
	display: block;
	border-radius: 100%;
}

.feature {
	display: flex;
	flex-direction: column;

	@include bp($small) {
		flex-direction: row;
		align-items: center;
	}

	// Image
	&__image {
		display: block;
		flex-grow: 0;
		flex-shrink: 0;

		@include bp($medium) { width: 75%; }
		@include bp($large) { width: 75%; }
		@include bp($x-large) { width: 83.3336%; }
	}

	// Text
	&__text {
		width: 90%;
		margin-top: -100px;
		margin-left: auto;
		margin-right: auto;
		flex-grow: 0;
		flex-shrink: 0;
		padding: 40px;
		background: $white;

		@include bp($medium) {
			position: relative;
			width: 58.3336%;
			margin-top: 0;
			margin-left: -33.3336%;
			padding: 40px;
			z-index: 1;
		}

		@include bp($large) {
			width: 58.3336%;
			padding: 80px;
		}

		@include bp($x-large) {
			width: 50%;
			margin-left: -33.3336%;
			padding: 100px;
		}

		// Copy
		p {
			@include font-size(14);

			color: darken($base-text-color, 20%);
			font: {
				family: $default-sans;
				weight: 600;
			}
			margin: 0;

			@include bp($small) { @include font-size(16); }
			@include bp($x-large) { @include font-size(20); }
		}
	}
}