.panel {
	margin: 15px 0;
	padding: 0 !important;
	border: solid 1px #EBEBEB;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(#D0D0D0, 0.5);

	// Head
	&__head {
		padding: 16px 24px;

		h6 { margin: 0; }

		@include bp($large) {
			padding: 24px 32px;
		}
	}

	&__content {
		padding: 0 30px 25px 30px;

		p { line-height: 1.75; }

		& > :last-child { margin: 0; }
	}

	// Links
	&--link {
		a {
			display: flex;
			padding: 16px 24px;
			font: {
				family: $default-sans;
			}
			line-height: 1.3;

			@include bp($large) {
				padding: 24px 32px;
			}

			em {
				@include show($large, inline-block);

				margin-left: 10px;
				white-space: nowrap;
			}
		}

		.file {
			&:before {
				content: "";
				display: block;
				height: 21px;
				width: 16px;
				margin-right: 24px;
				background: url('../img/file.svg');
				flex-shrink: 0;
				flex-grow: 0;
			}
		}
	}

	// Collapse / accordian
	&--collapse {
		// Head
		.panel__head {
			position: relative;
			cursor: pointer;
			// padding-right: 100px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&:after {
				content: "";
				display: block;
				height: 8px;
				width: 13px;
				margin-left: 25px;
				background: url('../img/chevron-down.svg');
				flex-shrink: 0;
			}
		}

		&.open > .panel__head:after { transform: rotate(180deg); }

		// Hide content until toggled
		.panel__content { display: none; }
	}
}