.post {
	// Global post styles
	// Title
	&__title {
		margin-top: 0;
		text-align: center;
	}

	// Date
	&__date {
		@include font-size(12);

		font: {
			family: $default-sans;
		}
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.05em;
	}

	// Single posts
	&--single {
		// Date
		.post__date {
			margin-bottom: 2em;
		}

		// Lead
		.lead {
			text-align: center;

			@include bp($large) {
				margin-bottom: 50px;
			}
		}

		// Paragraphs
		p:not(.lead) {
			line-height: 1.75;
		}

		// Images
		.post-image {
			display: block;
			margin: 10% 0;
		}
	}

	// Post listing
	.post-listing & {
		border-bottom: solid 1px $light-grey;
		text-align: center;

		.post__title {
			margin-bottom: 0.5em;
		}
	}
}

.post-pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f4f4f4;

	span {
		color: #ababab;
	}

	span,
	a {
		display: inline-flex;
		padding: 1em;
		font: {
			family: $button-font;
			weight: $button-font-weight;
		}
		text-decoration: none;

		@include bp($large) {
			padding: 2em;
		}
	}
}