// Single Person
.post--person {

	.post__title { margin-bottom: 0; }

	img {
		float: left;
		width: 40%;
		margin: 0 2em 2em 0;
	}
}

// Listing

.team {
	display: flex;
	flex-wrap: wrap;

	.person {
		position: relative;
		width: 50%;
		margin: 0;
		padding: 0;
		overflow: hidden;

		@include bp($medium) { width: 33.333%; }

		&:after {
			@include gradient-v(rgba($white, 0), #000);

			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 50%;

			.touch & { mix-blend-mode: multiply; }
		}

		&__info {
			z-index: 1;
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translateY(4em);
			width: 100%;
			padding: 20px;
			text-align: left;
			transition: all 300ms cubic-bezier(.34, .99, .69, 1);

			@include bp($large) { padding: 30px; }
		}

		&__name {
			@include font-size(13);

			margin-bottom: 0;
			color: $white;

			@include bp($medium) { @include font-size(16); }
			@include bp($large) { @include font-size(18); }
		}

		&__title {
			@include font-size(12);

			display: block;
			color: $white;

			@include bp($medium) { @include font-size(15); }
			@include bp($large) { @include font-size(16); }
		}

		img {
			display: block;
			width: 100%;
			transition: all 1s cubic-bezier(.34, .99, .69, 1);
		}

		.button {
			margin-top: 1em;
		}

		// Hover effects
		&:hover {
			// Reveal button
			.person__info {
				transform: translateY(0);
			}

			// Image
			img { transform: scale(1.1); }
		}
	}
}