.contact-blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.block {
		@include font-size(16);

		display: flex;
		align-items: center;
		width: 100%;
		margin-bottom: 12px;
		padding: 20px;
		border-radius: 5px;
		border: solid 1px $light-grey;
		font-family: $default-sans;
		line-height: 1.333;

		@include bp($medium) {
			@include font-size(18);

			width: calc(50% - 12px);
			margin-bottom: 24px;
			padding: 30px;
		}

		a {
			color: inherit;

			&:hover {
				color: $primary-brand-color;
			}
		}

		a[href^="tel:"] {
			display: block;
			margin-top: 0.75rem;
		}

		svg {
			display: block;
			margin-right: 24px;
			flex-shrink: 0;
		}
	}
}

p.address {
	span {
		&:after { content: ","; }
		&:last-of-type:after { content: "."; }
	}

	.block & {
		margin: 0;
	}
}