// Header
.home {
	.header {
		.header__locations {
			opacity: 0;
			transition: all 300ms ease;
		}
		.header__contact {
			opacity: 0;
			transform: translateY(100%);
			transition: all 300ms ease;
		}
		&--scrolled {
			.header__locations {
				opacity: 1;
			}
			.header__contact {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}

// Hero
.hero--home {
	position: relative;
	display: flex;
	align-items: center;
	height: 80vh;
	background: $secondary-brand-color;

	@include bp($large) {
		height: 100vh;
	}

	&:before {
		@include show($x-large);

		z-index: 10;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 33.3333%;
		background: $primary-brand-color;

		@include bp(1500px) {
			width: 25%;
		}
	}

	// Content
	.hero__content {
		z-index: 6;
		position: relative;
		// height: 100%;
		width: 100%;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
		padding: 60px 40px;
		text-align: center;

		@include bp($mobile-nav-bp) {
			z-index: 8;
		}

		@include bp($large) { padding: 80px; }

		@include bp($x-large) {
			z-index: 11;
			width: 66.666%;
			max-width: none;
			margin-left: 0;
			padding: 80px 0;
			text-align: left;
		}

		@include bp(1500px) {
			width: 50%;
		}

		h1 {
			@include font-size(30);

			position: relative;
			color: $white;
			line-height: 1.333;

			@include bp($large) {
				@include font-size(36);
			}

			@include bp($x-large) {
				@include font-size(48);
			}
		}

	}

	// Call link
	.call-link {
		z-index: 9;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		padding: 20px;
		background: $secondary-brand-color;
		color: $white;
		font: {
			size: 0.8125rem;
			family: $default-sans;
			weight: 600;
		}
		text-align: center;

		@include bp($medium) {
			@include font-size(16);
		}

		@include bp($large) {
			@include font-size(18);

			display: flex;
			align-items: center;
			justify-content: center;
			height: 80px;
			padding: 0 50px;
		}

		@include bp($x-large) {
			justify-content: flex-end;
			width: 66.6666%;
		}

		@include bp(1500px) {
			width: 75%;
		}

		span + span {
			@include bp($large) {
				margin-left: 0.25rem;
			}
		}

		a {
			color: inherit;
			font-weight: inherit;
		}

		// Don't link unless touch enabled
		// .no-touchevents & { pointer-events: none; }
	}

	// Image
	img {
		@include fill;

		object-fit: cover;
		object-position: left;
	}
}