.page-banner {
	position: relative;
	overflow: hidden;
	height: 200px;
	background: $secondary-brand-color;

	@include bp($mobile-nav-bp) {
		height: 350px;

		&:before {
			@include fill;
			@include gradient-v(rgba(#000, 0.5), rgba($white, 0));

			content: "";
			z-index: 1;
		}
	}

	img {
		display: block;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	// Title
	.post__title {
		position: absolute;
		left: 0;
		bottom: 5%;
		width: 100%;
		color: $white;
		text-align: center;
	}

	.single-person & {
		@include show($mobile-nav-bp);
	}
}