// Generic Colour Values
$red:                    #9c363c;
$blue:                   #2c5a93;
$white:                  #fff;
$black:                  #231f20;
$yellow:                 #e1d148;
$green:                  #34a36a;
$orange:                 #e44e36;
$light-grey:             #eaeaea;
$light-grey-text:        #a0a0a0;

// Useful Brand Colours
$facebook-brand-color:   #3b5998;
$twitter-brand-color:    #55acee;
$instagram-brand-color:  #3f729b;
$whatsapp-brand-color:   #25D366;
$googleplus-brand-color: #dd4b39;
$pinterest-brand-color:  #bd081c;
$linkedin-brand-color:   #0077b5;
$vine-brand-color:       #00b488;

// Standard body text colour
$base-text-color:        #5D5D5D;

// Brand Colours
$primary-brand-color:    #6A2986;
$secondary-brand-color:  #5D5D5D;
$alt-brand-color:        #202020;