// Hamburger
@mixin hamburger($width: 20px, $offset: 4px, $bar-height: 2px, $color: null, $border-radius: null) {

	appearance: none;
	position: relative;
	width: $width;
	height: ($offset * 2) + ($bar-height * 3);
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;

	&:focus { outline: none; }

	.bar {
		position: absolute;
		display: block;
		height: $bar-height;
		width: 100%;
		background: $color;
		border-radius: $border-radius;
		transition: all 200ms ease;

		.nav-open & { background: lighten($color, 20%); }

		&:nth-of-type(1) {
			top: 0;

			.nav-open & {
				width: 50%;
				transform: rotate(-45deg) translateX(-#{$offset});
			}
		}

		&:nth-of-type(2) {
			top: $offset + $bar-height;
		}

		&:nth-of-type(3) {
			top: ($offset * 2) + ($bar-height * 2);

			.nav-open & {
				width: 50%;
				transform: rotate(45deg) translateX(-#{$offset});
			}
		}
	}
}