$base-line-height: 1.6;

// Generic Font Declatarions
$default-sans: 'Poppins', -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Noto Sans',Oxygen,Ubuntu,'Droid Sans','Helvetica Neue',sans-serif;
$default-serif: 'PT Serif', Georgia, Times, serif;

// Site Specific Font Styles
$body-font: $default-serif;
$body-font-bold: 700;
$display-font: $default-sans;
$display-font-bold: 600;
$heading-font: $default-sans;
$heading-font-weight: 600;
$heading-color: $primary-brand-color;

// Links
$link-font-weight: 400;
$link-color: $primary-brand-color;
$link-hover-color: $secondary-brand-color;

// Buttons
$button-font: $heading-font;
$button-font-weight: $heading-font-weight;

// Use rem of font sizes, include px fallback
@mixin font-size($size, $base: 16) {
	font-size: $size + px;
	font-size: rem($size, $base);
}