html {
	font-size: 16px;
	background: $light-grey;
}

body {
	color: $base-text-color;
	font: {
		family: $body-font;
		size: 100%;
	}
	line-height: $base-line-height;
	-webkit-font-smoothing: antialiased;
}

// -------------------------------------------------- //
// Headings
// -------------------------------------------------- //

// Global
h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
}

h1 {
	@include font-size(28);

	margin: 1.4em 0 1em;
	color: $primary-brand-color;
	font: {
		family: $body-font;
		weight: normal;
	}
	line-height: 1.2;

	@include bp($large) { @include font-size(30); }
	@include bp($x-large) { @include font-size(32); }
}

h2 {
	@include font-size(24);

	margin: 1.4em 0 1em;
	color: $primary-brand-color;
	font: {
		family: $body-font;
		weight: normal;
	}
	line-height: 1.125;

	@include bp($large) { @include font-size(26); }
	@include bp($x-large) { @include font-size(28); }

	.content & { text-align: center; }
}

h3 {
	@include font-size(20);

	font: {
		family: $heading-font;
		weight: $heading-font-weight;
	}
	line-height: 1.2;

	@include bp($large) { @include font-size(22); }
	@include bp($x-large) { @include font-size(24); }

}

h4 {
	@include font-size(18);

	font: {
		family: $heading-font;
		weight: $heading-font-weight;
	}
	line-height: 1.2;

	// @include bp($large) { @include font-size(22); }
	@include bp($x-large) { @include font-size(20); }
}

h5 {
	@include font-size(16);

	color: $primary-brand-color;
	font: {
		family: $heading-font;
		weight: $heading-font-weight;
	}
	line-height: 1.25;

	// @include bp($large) { @include font-size(22); }
	@include bp($x-large) { @include font-size(18); }
}

h6 {
	@include font-size(13);

	margin: 24px 0 16px;
	color: darken($base-text-color, 20%);
	font: {
		family: $heading-font;
		weight: $heading-font-weight;
	}
	line-height: 1.4;

	@include bp($large) { @include font-size(14); }
	@include bp($x-large) { @include font-size(15); }
}

// -------------------------------------------------- //
// Paragraphs
// -------------------------------------------------- //

.lead {
	@include font-size(16);

	margin-bottom: 1.5em;
	color: $base-text-color;
	font-family: $heading-font;
	line-height: 1.667;

	@include bp($large) {
		@include font-size(18);
	}
}

// -------------------------------------------------- //
// Links
// -------------------------------------------------- //

a {
	color: $link-color;
	font-weight: $link-font-weight;
	text-decoration: none;

	&:hover {
		color: $link-hover-color;
		transition: all 300ms ease;
	}

	em {
		color: lighten($base-text-color, 33%);
		font: {
			size: 0.8125em;
			style: normal;
			weight: 400;
		}
	}
}

.trail {
	margin: 3em 0;
	text-align: center;

	a {
		@include font-size(13);

		font-family: $default-sans;
		text-transform: uppercase;
		letter-spacing: 3px;
		text-indent: -3px;
	}
}

// -------------------------------------------------- //
// Blockquotes
// -------------------------------------------------- //

blockquote {
	margin-left: 5%;
	margin-right: 5%;

	p {
		font: {
			style: italic;
		}
	}

	cite {
		font: {
 			weight: $body-font-bold;
 			style: normal;
		}
	}
}